@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

html, body {
	height: 100%;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #d5d5d5;
	font-family: Cairo, serif;
}

div {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin: auto;
}
h1 {
    font-size: 1em;
}