@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
html {
	min-height: 100%;
	position: relative;
}

body {
	margin: 1em auto;
	max-width: 40em;
	width: 88%;
	background-color: #d5d5d5;
	font-family: Cairo, serif;
	margin-bottom: 60px; /* Margin bottom by footer height */
}
