@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body {
	margin: 1em auto;
	max-width: 30em;
	width: 88%;
    background-color: #d5d5d5;
    font-family: Cairo;
}
#app {
  border: 1px solid #2d2d2d;
  border-radius: 10px;
  text-align: center;
  background-color: #eeeeee;
  padding: 0 0 2em 0;
}
.tempc {
  font-size: 2em;
  font-weight: bold;
  padding-right: 0.5em;
}
.desc {
  font-size: 1.8em;
}
